<div class="col col-12 col-t-12">
  <div class="row">
    <div class="product-item col col-12 col-t-6">
      <div class="product-box reveal-in">
        <div class="product-head">
          <a href="/shirt/" class="product-image" style="background-image: url(/img/design_01.jpg)"></a>
        </div>
        <span>男士衬衫</span>
      </div>
    </div>
    <div class="product-item col col-12 col-t-6">
      <div class="product-box reveal-in">
        <div class="product-head">
          <a href="" class="product-image" style="background-image: url(/img/design_01.jpg)"></a>
        </div>
        <span>女士衬衫</span>
      </div>
    </div>
  </div>
</>
