<div class="col col-12 col-t-12">
  <div class="row">
    <product class="product col col-12 col-t-6">
      <div class="product-box">
        <div class="product-head">
          <a href="/shirt/" class="product-image" style="background-image: url(/img/design_01.jpg)">
            <div class="image-overlay">
              <span class="image-overlay-text"></span>
            </div>
          </a>
        </div>
        <h2 class="product-title">
          <a href="/shirt/">男士衬衫</a>
        </h2>
      </div>
    </product>
    <product class="product col col-12 col-t-6">
      <div class="product-box">
        <div class="product-head">
          <a href="" class="product-image" style="background-image: url(/img/design_01.jpg)"></a>
        </div>
        <h2 class="product-title">
          <a href="">女士衬衫</a>
        </h2>
      </div>
    </product>
  </div>
</div>
