<div class="col col-12 col-t-12">
  <div class="row">
    <article class="article col col-12 col-t-6">
      <div class="article-box">
        <div class="article-head">
          <a href="/shirt/" class="product-image" style="background-image: url(/img/design_01.jpg)">
            <div class="image-overlay">
              <span class="image-overlay-text">男</span>
            </div>
          </a>
        </div>
        <div class="article-content">
          <div class="article-info">
            <div class="article-date">
              <span class="date">2021 10 21</time></span>
            </div>
            <div class="article-tag">OK/div>
          </div>
          <h2 class="article-title">
            <a href="/shirt/">男士衬衫</a>
          </h2>
          <p class="article-excerpt">12345</p>
        </div>
      </div>
    </article>
  </div>
</div>
